body {
  min-height: 200vh;

  background: url("outline50opacity.png"),
    linear-gradient(
      160deg,
      rgb(255, 204, 0) 0%,
      rgb(236, 147, 13) 51%,
      rgb(187, 108, 5) 100%
    );

  background-repeat: round;
  background-size: 100px;
  font-family: "Finger Paint", cursive;

  color: white;
  margin: 0;
}
.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}
.topNav::before {
  content: "";
  border-bottom: 2px solid rgb(255, 106, 0);
  position: absolute;
  left: 0;
  top: 140px;
  width: 100%;
}
.titles {
  margin: 1rem;
}
#smallLogo {
  max-height: 120px;
  margin-right: 1rem;
}
#about,
#contacts,
#saved-page {
  text-decoration: none;
  font-size: 170%;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 1%;

  color: rgb(255, 251, 0);
}

#about:hover,
#contacts:hover,
#saved-page:hover {
  color: rgb(255, 15, 15);
}
.top-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
  margin-right: 60%;
  margin-left: 2%;
}

.food-button {
  background-color: #fb6d14;
  border: none;

  color: #000000;
  display: flex;
  font-family: "Finger Paint", cursive;
  font-size: 1.4em;

  letter-spacing: 1.4px;

  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  margin: 20px;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
}

.food-button:after {
  content: "";
  position: absolute;
  border: 3px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.food-button:hover:after {
  bottom: 5px;
  left: 1px;
}

.ingredients {
  margin: 10px 10px;

  letter-spacing: 1.5px;
  font-size: 3.4em;
  color: black;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 650px;
  left: 35%;

  visibility: visible;
  z-index: 1;
}

.countdown,
#choose {
  color: #222120;
}
.countdown {
  font-size: 2em;
}
#choose {
  font-size: 1.2em;
}
.slidingImage {
  transition: top 1.5s; /* animate the top property with ease transition */

  max-width: 100%; /* Sets the maximum width of the image to 100% of the container */
  max-height: 100%; /* Sets the maximum height of the image to 100% of the container */
  visibility: hidden;
}

.bug {
  max-width: 250px;
}
.tomato,
.pickle,
.egg {
  max-width: 450px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-buttons {
  position: fixed;

  display: inline-block;

  right: 0;

  margin-right: 20px;
  z-index: 2;
}

.save-reset-undo {
  margin: 15px;
  height: 70px;
  width: 70px;

  border-radius: 50%;
  border: none;
  outline: 6px double rgb(0, 0, 0);

  font-family: "Finger Paint", cursive;
  font-size: 17px;
  color: rgb(255, 225, 33);

  transition: background-color 0.7s ease-in-out;
  cursor: pointer;
}

#done {
  background-color: green;
}
#undo {
  background-color: #df6215;
}
#reset {
  background-color: rgb(134, 9, 9);
}
#done:hover,
#undo:hover,
#reset:hover {
  background-color: black;
}
.save-reset-undo:active {
  font-size: 15px;
}

.slidingImage.tomato,
.slidingImage.egg,
.slidingImage.pickle {
  width: 60%;
}
.slidingImage.bug {
  max-width: 30%;
}
.slidingImage.spoon {
  width: 75%;
}
#doneDialog {
  background-color: rgba(0, 0, 0, 0.8);
}
.dialog {
  font-family: "Nunito", sans-serif;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 30;
}
.dialog-content {
  position: relative;
}

#closeDialog {
  position: absolute;
  top: -10px;
  right: -20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

#closeDialog:hover,
#saveOk:hover,
#doneOk:hover {
  color: red;
}
h3 {
  margin-top: 30px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
#saveOk {
  width: 40px;
  height: 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}
#doneOk {
  width: 40px;
  height: 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}
.checkbox-container {
  text-align: center;
  margin-top: 15px;
}

#disableSavePromp {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.food-button.disabled {
  text-decoration: line-through;
  text-decoration-thickness: 4px;
}

@media only screen and (max-width: 1090px) {
  .container {
    max-width: 400px;
    left: 40%;
  }
}

/* name the sandwich popup */
#dialogOverlay {
  font-family: "Nunito", sans-serif;
  position: absolute;
  background-color: rgb(255, 177, 10);

  left: 40%;
  top: 50%;

  color: black;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  padding: 40px;
  z-index: 20;
}
/* sentence at the top of the popup */
#dialogSentence {
  font-size: 20px;
  position: relative;
  text-align: center;
}
/* input bar */
#sandwichName {
  position: relative;
  text-align: center;

  color: black;
  left: 23%;
  font-size: 1em;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: 2px solid black;
  padding: 10px;
  border-radius: 20px;
}

/* save button */
#btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 40%;
  padding: 10px;
  margin-top: 20px;
  border: 3px solid black;
  background-color: rgb(192, 4, 4);
  max-height: 30px;
  width: 80px;
  border-radius: 15px;
  font-weight: bolder;
}

#btn:hover {
  outline: 2px solid black;
  outline-offset: 2px;
}
@media screen and (max-width: 864px) {
  #dialogOverlay {
    width: 150px;
  }
  #sandwichName {
    left: -2px;
    font-size: small;
  }
  #btn {
    left: 25%;
  }
}

#sandwichNameDisplayed {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 60%;
  left: 50%;
}

@media screen and (max-width: 500px) {
  #dialogOverlay {
    left: 60px;
  }
}

/* all cursors for the ingredient buttons */
#bun-under-button {
  cursor: url(pics/bunUnder-small.png), auto;
}
#egg-button {
  cursor: url(pics/egg-cursor.png), auto;
}

#spoon-button {
  cursor: url(pics/spoon-small.png), auto;
}
#bacon-button {
  cursor: url(pics/bacon-small.png), auto;
}

#pickle-button {
  cursor: url(pics/pickle-small.png), auto;
}

#tomato-button {
  cursor: url(pics/tomate-small.png), auto;
}
#bug-button {
  cursor: url(pics/bug-small.png), auto;
}
#leaf-button {
  cursor: url(pics/leaf-small.png), auto;
}

#bun-top-button {
  cursor: url(pics/bunTop-small.png), auto;
}
